main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form{
    text-align: center;
}

.data-table{
    width: 60%;
    gap: 10px;
    border-collapse: collapse;
    border: 2px black solid;
    empty-cells: hide;
}

.data-table th{
    border: 2px black solid;
    padding: 3px;
}

.data-table td{
    text-align: center;
    border: 2px black solid;
    padding: 3px;
}