main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    width: min-content;
}

.data-table{
    width: 60%;
    gap: 10px;
    border-collapse: collapse;
    border: 2px black solid;
    empty-cells: hide;
}

.data-table th{
    border: 2px black solid;
    padding: 3px;
}

.data-table td{
    text-align: center;
    border: 2px black solid;
    padding: 3px;
}

.timer-display{
    font-size: 30px;
    font-weight: bold;
}

form legend{
    font-size: 12px;
}

form .custom-button {
    display: block;
    padding: 10px 10px;
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branco */
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

/* Efeito de hover no botão */
form .custom-button:hover {
    background-color: #45a049; /* Cor de fundo mais escura no hover */
}